<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create New Account</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>

<div class="container">
    <form class="form-signin" method="post" th:action="@{/register}" th:object="${user}">
        <h2 class="form-signin-heading">Registration</h2>
        <p>
            <label for="username" class="sr-only">Full Name</label>
            <input type="text" id="fullName" th:field="*{fullName}" class="form-control" placeholder="Full Name" required autofocus>
        </p>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" th:field="*{username}" class="form-control" placeholder="Username" required autofocus>
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" th:field="*{password}" class="form-control" placeholder="Password" required>
        </p>

        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <button class="btn btn-lg btn-success btn-block" type="submit">Sign Up</button>
        <a class="btn btn-lg btn-primary btn-block" th:href="@{/login}" >Already have account?</a>
    </form>
</div>


</body>
</html>